---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Welcome">
	 <sectionc class="container mx-auto">
		<img src="/chrome_viola_hero.svg" alt="">
	 </section>
	<section class="container mx-auto mb-16">
		<div class="text-lime-950 font-extrabold text-8xl mb-2">
			<h1>Digital design that matters.</h1>
		</div>
		<div class="grid grid-cols-12">
			<div class="col-start-1 col-end-7 mt-12 border-white-50 rounded-4xl p-10  backdrop-blur box-shadow shadow-hard">
				<h2 class="text-lime-950 font-extrabold text-5xl pb-6">About me</h2>
				<p class="text-lime-950 text-2xl pb-4">My name is Viola, and I am currently studying Multimedia Design at KEA. I have always loved being creative, whether through drawing, DIY projects, or exploring new ideas—and over time, I discovered my passion for digital design solutions. </p>
				<p class="text-lime-950 text-2xl pb-4">Through my studies, I’ve learned that great design is not only about aesthetics, but also about understanding the user’s journey. I enjoy exploring creative ideas and developing visual solutions that balance imagination with function, always focusing on the user.</p>
				<p class="text-lime-950 text-2xl pb-4"> For me, aesthetics, functionality, and usability go hand in hand to create inspiring and intuitive experiences.</p>
			</div>
			<div class="col-start-8 col-end-12 border-white-50 rounded-4xl box-shadow shadow-hard">
				<img src="/portraet.webp" alt="">
			</div>
		</div>
	</section >
	<section class="container mx-auto grid grid-cols-2 mb-16 gap-8">
		<div class="">
			<h2 class="text-lime-950 font-extrabold text-5xl text-center pb-8">Skills</h2>
			<div class="text-lime-950 text-2xl">
				<p class="border-white-50 rounded-2xl backdrop-blur box-shadow shadow-hard px-8 py-2 inline-block">Detail Orientated</p>
				<p class="border-white-50 rounded-2xl backdrop-blur box-shadow shadow-hard px-8 py-2 inline-block">Organized</p>
				<p class="border-white-50 rounded-2xl backdrop-blur box-shadow shadow-hard px-8 py-2 inline-block">Concientious</p>
				<p class="border-white-50 rounded-2xl  backdrop-blur box-shadow shadow-hard px-8 py-2 inline-block">Teamwork</p>
			</div>
		</div>
		<div class="">
			<h2 class="text-lime-950 font-extrabold text-5xl text-center pb-8">Software</h2>
			<div class="grid grid-cols-4 border-white-50 rounded-4xl p-10  backdrop-blur box-shadow shadow-hard">
				<img src="/ai_icon.svg" alt="ai">
				<img src="/pr_icon.svg" alt="pr">
				<img src="/ps_icon.svg" alt="ps">
				<img src="/figma_icon.svg " alt="figma">
			</div>
		</div>
	</section>
	<section class="container mx-auto">
		<div>
			<h2 class="text-lime-950 font-extrabold text-5xl text-center mb-10">Get in touch</h2>
		</div>
		<div class="flex justify-center gap-4 text-center">
			<Link href="violahk4@gmail.com" size="standard" target="_blank" variant="primary"><img src="/mail.svg" alt="">violahk4@gmail.com</Link>
			
			<Link href="53293900" size="standard" target="_blank" variant="primary"><img src="/phone.svg" alt="" >+45 53 29 39 00</Link>
				
			<Link href="www.linkedin.com/in/viola-holm-knudsen-0602ba239/" size="standard" target="_blank" variant="primary"><img src="/linkedin.svg" alt="">Viola Holm Knudsen</Link>
		</div>
	</section>
	<!-- </main> -->
</MainLayout>