---

// Henter parametrene fra Astro.props
const { href="#", target="_self", size="standard", variant="primary"} = Astro.props; 


//Definer den styling (Tailwind classes, der gør sig gældende for alle links

const linkStyling = "py-2 px-4 "; 

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 

const variantClasses = {

"primary": "text-lime-900 font-semibold border-white-50 rounded-2xl backdrop-blur box-shadow shadow-hard px-8 py-2 inline-blocke",

"secondary": "",



};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.

const sizeClasses = {

"medium": "text-xl",

"small": "text-sm",

"standard": "text-base"

};

---
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size]]}><slot /></a>

